body{
    background-color: black;
}
h1{
    font-family: verdana, arial;
    color: white;
}
p{
    font-family: "Mozilla Headline";
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    color: white;
}
